<template>
  <div class="page-chat">
    <Chat image-bg="assets/img/bg.png" />
  </div>
</template>

<script>
import Chat from "@/components/Chat";
export default {
  name: "ChatPage",
  components: {
    Chat,
  },
};
</script>

<style lang="scss" scoped></style>
