<template>
  <textarea class="textarea"></textarea>
</template>

<script>
export default {
  name: "Textarea",
};
</script>

<style>
.textarea {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #696969;
  padding: 10px;
  width: 100%;
  max-width: 590px;
  height: 129px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 4px;
}
</style>
